/* Soluzione qui */
@media screen and ( min-width: 768px  ) {
    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .quick-notes ul li{
        flex-basis: calc(100% / 3);
    }
   
    .clearfix img{
        float: inline-start;
        margin-right:  3%;
    }

    .ads{
        display: block;
    }

    .btn{
        width: 20%;
    }
}

@media screen and ( min-width: 992px ) {
    .recipe-video{
        float: inline-start;
        width: 60%;
    }

    .recipe-info{
        
    }

}